*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 30px;
}
li,ul,h1{
    display: inline;
}

ul{
    margin-left: 70%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
      width: 60%;
      padding: 15px;
      border: 10px;
       border-color: brown;
       border-style: solid;
      
}
.searchbar{
         padding: 25px;
       text-align: center;
}
.box{
    border: 5px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    width: 400px;
}
.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.product{
    text-align: center;
}
.about{
    text-align: center;
    margin: 15px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}